# To ignore packages
node_modules
**/node_modules

# To ignore build files
dist
build

# package lock files
package-lock.json
pnpm-lock.yaml
yarn.lock

# All secrets are stored here
.env
lavalinkNodes.js

# Log files
logs
**/logs

# Archive, backup & dump files
archive
*.zip
*.tar
*.tar.gz
*.tgz
*.rar
*.7z
*.gz
*.bz2
*.bak
*.sql
*.dump
*.log
